<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scheduler 3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7488C8F1BE8144100F90F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7488CA61BE8144200F90F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7488CB11BE8144200F90F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
